table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}
table {
  width: 50%;
}

option {
  color: white;
  background-color: gray;
}

.google {
  width: 400px;
  border: 1px solid black;
  border-radius: 50px;
  display: block;
  padding: 9px 4px 9px 40px;
}
